<configuration>
  <configSections>
    <section name="Innovator" type="Aras.Server.Configuration.InnovatorConfigurationSection, Aras.Server.Agent" />
  </configSections>
  <Innovator>
    <Conversion>
      <ProcessingCycles>
        <cycle DB="" User="root" Password="" Interval="20000" MaxBatch="50" />
      </ProcessingCycles>
    </Conversion>
  </Innovator>
</configuration>